# Build artifacts
build/
*.exe
*.dll
*.lib
*.exp
*.obj
*.so
*.dylib
*.pyd
*.node

# Language specific
__pycache__/
*.pyc
.venv/
node_modules/
target/   # Rust
vendor/   # Go

# IDEs
.vscode/
.idea/
*.swp

# Logs
*.log

output/
